html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-family: "Kaushan Script", cursive;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  background-image: linear-gradient(to top,
      rgba(240, 226, 144, 0.9),
      rgba(233, 138, 137, 0.9)),
    url("../img10/Layer\ 15@2x.jpg");
  min-height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 126px;
}

@media(min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .page-header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(bottom, rgba(240, 226, 144, .9) 0%, rgba(233, 138, 137, .9) 100%),
      url("../img10/LayerEagle@2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}


.wrapper {
  width: 1182px;
  margin: 0 auto;
}


.page-nav {
  justify-content: space-between;
  display: flex;
  padding: 28px 0;
}

.navi {
  display: flex;
  width: 650px;
  justify-content: space-between;
}


.main-title {
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  color: white;
  font-family: "Montserrat";
  font-weight: 700;
}


.site-navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 500px;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  display: block;
  font-size: 14px;
  color: white;
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #fce38a;
  transition: all .2s linear;
}

.site-navigation a::after {
  display: block;
  content: "";
  width: 50px;
  height: 3px;
  background-color: #fce38a;
  margin: 0 auto;
  margin-top: 12px;
  opacity: 0;
  transition: background-color 0.2s linear;
}

.site-navigation a:hover::after {
  opacity: 1;
}

.site-navigation-extra {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 90px;
  margin: 0;
  padding: 0;
}


.navigation__svg-menu-wrapper {
  width: 18px;
  height: 18px;
}

.navigation__svg-wrapper:hover .svg-menu-wrapper__svg {
  fill: #fce38a;
  transition: all .2s linear;
}

.svg-menu-wrapper__svg {
  width: 18px;
  height: 18px;
  fill: #fff;
}

.service_main-title span {
  font-size: 72px;
  color: #ffffff;
  font-family: "Kaushan Script";
  font-weight: 400;
  text-align: center;
}

h1 {
  font-size: 150px;
  line-height: 140px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  width: 100%;
}



.title_wrapper {
  display: flex;
  justify-content: center;
}

.more {
  border: 1px solid;
  width: 160px;
  min-height: 36px;
  cursor: pointer;
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  padding-top: 10px;
  background-color: transparent;
  border-color: white;
  margin-bottom: 230px;
}




.service_title {
  font-size: 30px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 52px;
}

.service_title span {
  display: block;
  font-size: 24px;
  color: #333333;
  font-family: "Kaushan Script";
  font-weight: 400;
  text-align: center;
  text-transform: none;
  margin-bottom: 20px;
}


/* 
.workwith {
  font-size: 24px;
  color: #333333;
  font-family: "Kaushan Script";
  font-weight: 400;
  text-align: center;
  margin-bottom: 22px;
}

h2 {
  width: 320px;
  font-size: 30px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
} */


h2::after {
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  content: "";
  margin: 0 auto;
  margin-top: 42px;
}

.service-title {
  margin-bottom: 110px;
}

.service-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.service-list-item {
  flex-basis: 380px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 100px;
  padding-left: 80px;
  position: relative;
}

.service-list-item:nth-last-child(-n + 3) {
  margin-bottom: 90px;
}

.service-list-item::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  margin-bottom: 34px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 25px;
}

.icon-first::before {
  background-image: url("../img10/alarm.svg");
}

.icon-second::before {
  background-image: url("../img10/linegr.svg");
}

.icon-third::before {
  background-image: url("../img10/computer.svg");
}

.icon-fourth::before {
  background-image: url("../img10/book.svg");
}

.icon-fifth::before {
  background-image: url("../img10/home.svg");
}

.icon-sixth::before {
  background-image: url("../img10/image.svg");
}

.service-list-title {
  margin-bottom: 20px;
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: 400;
  text-transform: uppercase;

}

.service-list-description {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto";
  font-weight: 400;
}


.team_title {
  font-size: 30px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 52px;
}


.team_title span {
  display: block;
  font-size: 24px;
  color: #333333;
  font-family: "Kaushan Script";
  font-weight: 400;
  text-align: center;
  text-transform: none;
  margin-bottom: 20px;
}

.team {
  text-align: center;
}

.team-title {
  margin-bottom: 90px;
}

.team-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.team-list-item {
  width: 380px;
}

.team-list-image {
  transition: all 0.2s linear;
  margin-bottom: 30px;
}

.card {
  position: relative;
}

.card-overlay {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top,
      rgba(240, 226, 144, 0.9),
      rgba(233, 138, 137, 0.9));
  opacity: 0;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  box-shadow: 10px 10px 0 0 #95e1d3;
  z-index: 1;
}

.team-list-item:hover .card-overlay {
  opacity: 1;
  transform: translate(-10px, -10px);
  visibility: visible;
}

.team-list-item:hover .team-list-image {
  transform: translate(-10px, -10px);
}

.team-list-name {
  margin-bottom: 16px;
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: 400;
  text-transform: uppercase;
}

.team-list-description {
  padding-bottom: 94px;
  width: 900px;
  margin: 0 auto;
}

.team__list-socials-item:hover .team__list-socials-svg {
  fill: #fff;
}


.team__list-socials-svg {
  width: 26px;
  height: 26px;
  fill: #f38181;
  transition: all .5s linear;
}


.team__list-socials {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
}

.team__list-socials li:not(:last-child) {
  margin-right: 1px;
}

.team__list-socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.2s linear;
}

.team__list-socials-svg-wrapper {
  transition: all .5s linear;
}


.team__list-socials a:hover,
.team__list-socials a:focus {
  background-color: #f38181;
}

/* 
.icon-facebook {
  background-image: url("../img6/icons6.2/facebook.png");
}

.icon-twitter {
  background-image: url("../img6/icons6.2/twitter.png");
}

.icon-pinterest {
  background-image: url("../img6/icons6.2/pinterest.png");
}

.icon-instagram {
  background-image: url("../img6/icons6.2/instagram.png");
} */

.team-list-position {
  margin-bottom: 82px;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  min-height: 62px;
  align-items: center;
  border-top: 1px solid;
  border-color: #e7e7e7;
}

.text {
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: 400;
}

.colortext {
  color: #f38181;
  text-decoration: none;
}

.subscribe-form input {
  padding-top: 14px;
  padding-bottom: 14px;
  min-width: 228px;
}

.subscribe-form {
  display: flex;
  align-items: center;
}

input {
  padding-left: 12px;
}


.subscribe-form input::placeholder {
  font-size: 15px;
  line-height: 24px;
  color: #cccccc;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  padding-left: 12px;
}

.subscribe {
  border: none;
  border-radius: 1px;
  margin: 0;
  padding: 16px 32px;
  background-color: #95e1d3;
  line-height: 16px;
  cursor: pointer;
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}