html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 14px;
  list-style-type: none;
  color: #4e4e4e;
  font-family: "Montserrat";
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto8/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}

/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf");
  /* IE9 Compat Modes */
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/Montserrat-700/montserrat-v14-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/Montserrat-700/montserrat-v14-latin-700.woff")
      format("woff");
  /* Modern Browsers */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.container {
  width: 942px;
  margin: 0 auto;
}

.page-header {
  background-image: linear-gradient(
      rgba(31, 25, 25, 0.4),
      rgba(44, 36, 36, 0.4)
    ),
    url("../img8/mainimage8.jpg");
  min-height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-nav {
  justify-content: space-between;
  display: flex;
  padding-top: 46px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
  min-width: 150px;
  margin: 0;
  padding: 0;
  margin-bottom: 160px;
}

.site-navigation a {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 17px;
  display: block;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  list-style-type: none;
}

.site-navigation a::after {
  transform: translate(-25%, -25%);
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  border: 1px solid;
  border-radius: 100px;
  border-color: white;
  width: 92px;
  height: 34px;
  background-color: transparent;
  opacity: 0;
}

.site-navigation a:hover::after {
  opacity: 1;
}

.page-header {
  position: relative;
}

.holidaydreams {
  list-style: none;
}

h2 {
  width: 500px;
  text-align: center;
  text-transform: uppercase;
  font-size: 52px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding-bottom: 42px;
  margin: 0 auto;
}

.additional {
  font-size: 24px;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
  padding-bottom: 36px;
}

.load {
  text-align: center;
}

.findpartner {
  border: 1px solid;
  border-radius: 140px;
  border: #ff4e50;
  margin: 0;
  padding: 16px 18px;
  background-color: #ff4e50;
  line-height: 14px;
  cursor: pointer;
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
}

/* .partners-list-item::before {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;

} */

.partners-list-item:nth-child(1)::before {
  background-image: url("../icons8/TV\ set.png");
  background-color: #ff4e50;
}

.partners-list-item:nth-child(2)::before {
  background-image: url("../icons8/coffee.png");
  background-color: #1cd7ad;
}

.partners-list-item:nth-child(3)::before {
  background-image: url("../icons8/flask.png");
  background-color: #ffa507;
}

.partners-list-item:nth-child(4)::before {
  background-image: url("../icons8/lelegram.png");
  background-color: #4e73db;
}

.partners-list-image-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.partners-list-image-wrapper::before {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.partners-list-item:nth-child(1) .partners-list-image-wrapper::before {
  background-image: url("../icons8/TV\ set.png");
  background-color: #ff4e50;
}

.partners-list-item:nth-child(2) .partners-list-image-wrapper::before {
  background-image: url("../icons8/coffee.png");
  background-color: #1cd7ad;
}

.partners-list-item:nth-child(3) .partners-list-image-wrapper::before {
  background-image: url("../icons8/flask.png");
  background-color: #ffa507;
}

.partners-list-item:nth-child(4) .partners-list-image-wrapper::before {
  background-image: url("../icons8/lelegram.png");
  background-color: #4e73db;
}

/*
.icon-first {
  background: url("../icons8/TV\ set.png"), url("../icons8/shell1.png");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-second {
  background-image: url("../icons8/coffee.png"), url("../icons8/shell2.png");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-third {
  background-image: url("../icons8/flask.png"), url("../icons8/shell3.png");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-fourth {
  background-image: url("../icons8/lelegram.png"), url("../icons8/shell4.png");
  background-repeat: no-repeat;
  background-position: center;
}
*/

.partners-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.partners-list-item {
  width: 222px;
}

.meeting-title {
  padding-top: 74px;
  padding-bottom: 38px;
  text-align: center;
  font-size: 22px;
  color: #5d5d5d;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
}

h4 {
  padding-top: 22px;
  padding-bottom: 20px;
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
}

.partners-list-description {
  font-size: 14px;
  color: #666666;
  font-family: "Roboto";
  font-weight: 300;
  text-align: center;
  padding-bottom: 40px;
}

.meeting {
  padding-bottom: 74px;
}

.seeother {
  border: 1px solid;
  border-radius: 140px;
  border-color: #ff4e50;
  margin: 0;
  padding: 10px 22px;
  background-color: transparent;
  line-height: 14px;
  cursor: pointer;
  font-size: 14px;
  color: #ff4e50;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
}
