html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #515151;
  font-size: 18px;
  line-height: 32px;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  display: table;
  content: " ";
  clear: both;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.page-header {
  min-height: 86px;
}

.main-title {
  padding: 36px 0;
  font-size: 30px;
  line-height: 32px;
  color: #0f0101;
  font-family: "Roboto";
  font-weight: 200;
  float: left;
  text-decoration: none;
  text-transform: uppercase;
}

.main-title::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

.site-navigation {
  float: right;
  width: 480px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 40px;
}

.site-navigation li {
  float: left;
  margin-right: 32px;
  text-decoration: none;
  text-transform: uppercase;
}

.site-navigation li:last-child {
  margin-right: 0;
}

.site-navigation a {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: #0f0101;
  text-transform: uppercase;
  text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #1abc9c;
}

.background {
  background-color: #e9f0fd;
}

.slider {
  position: relative;
  margin: auto;
}

.slider-ctrl {
  position: relative;
  display: block;
  border: none;
  width: 104px;
  height: 104px;
  opacity: 0.8;
  background-color: #1abc9c;
  /* top: 45%;
  transform: translateY(-50%); */
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.slides-description {
  z-index: 10;
}

.slider-ctrl-prev {
  background-image: url("../icons/left.png");
  float: left;
}

.slider-ctrl-next {
  background-image: url("../icons/right.png");
  float: right;
}

.slides {
  margin: 0;
  padding: 0;
  list-style: none;
}

.backgroung-im {
  background-image: url("../img/img5.5.jpg");
  display: block;
  height: 600px;
  width: 100%;
}

/* .slides-image {
  display: block;
  height: 600px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
} */

/* .slides-item {
  position: relative;
} */

.overlay:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000002;
  opacity: 0.52;
  z-index: 1;
}

.slides-item {
  /* position: relative; */
  list-style: none;
}

.backgroung-im {
  position: relative;
}

/* 
.slides-description {
  position: absolute;
} */

.slider-content {
  width: 750px;
  margin: 0 auto;
  font-family: "Roboto";
  text-transform: uppercase;
  z-index: 1;
}

.slides-container {
  position: relative;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
}

.slides-title {
  /* top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); */
  font-size: 60px;
  line-height: 82px;
  font-weight: 900;
  color: #ffffff;

}

.offers {
  /* top: 50.5%;
  left: 41%;
  transform: translate(-50%, -50%); */
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;

}

.collection {
  padding-top: 100px;
}

.new-collection {
  font-size: 48px;
  line-height: 58px;
  color: #515151;
  font-family: "Roboto";
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 92px;
}

h3::after {
  display: block;
  width: 162px;
  height: 7px;
  background-color: #1abc9c;
  content: "";
  margin: 0 auto;
  margin-top: 32px;
}

.collection-list {
  list-style: none;
}

.collection-list-item {
  float: left;
  width: 254px;
  margin-right: 30px;
}

.collection-list-item:nth-child(4n) {
  margin-right: 0;
}

.collection-list-item:nth-last-child(-n + 4) {
  margin-bottom: 100px;
}

.overlay-image {
  position: relative;
}

.card-overlay {
  position: absolute;
  background-color: rgba(88, 85, 85, 0.85);
  opacity: 0;
  height: 100%;
  width: 100%;
  border: 10px solid rgba(256, 256, 256, 0.7);
  background-clip: padding-box;
}

.overlay-icon {
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid;
  border-radius: 1px;
  border-color: #ffffff;
  background-color: transparent;
}

.overlay-icon:hover {
  background-color: #1abc9c;
}


.first {
  background-image: url("../icons/heart.png");
}

.second {
  background-image: url("../icons/track.png");
}

.third {
  background-image: url("../icons/clock.png");
}

.icons_list {
  float: right;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  padding: 0;
  margin: 0;
}

.icons_list li {
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
}

.icons_list li:nth-last-child(-n + 2) {
  margin-right: 8px;
}


.fourth {
  width: 166px;
  height: 50px;
  background-color: #2e2c2c;
  opacity: 1;
  border: 1px solid;
  border-radius: 1px;
  border-color: #ffffff;
  background-image: url("../icons/curt.png");
  background-position: 6%;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 400;
  margin: 0 auto;
  padding-left: 12px;
}

.card:hover .card-overlay {
  opacity: 1;
}

.product {
  background: black;
  width: 100%;
  height: 40px;
  position: relative;
}

.product-price {
  width: 100%;
  margin: 0 auto;
  float: right;
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
  width: 55px;
  height: 40px;
  background: grey;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  background: rgba(255, 251, 251, .5);
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.product-description {
  width: 100%;
  margin: 0 auto;
  float: left;
  width: 199px;
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
  padding-left: 14px;
  background-color: #323232;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 900;
}



.collection-list-item:hover .product-description {
  background-color: #1abc9c;
}

/* .collection-list-item:hover .product-price {
  background-color: #7fd9c7;
} */

.page-footer {
  background-color: #323232;
  padding-top: 40px;
  padding-bottom: 34px;
}

.text {
  text-transform: capitalize;
  color: white;
  text-align: center;
}

.colortext {
  color: #46bfa9;
  text-decoration: none;
}