html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-family: "HelveticaR";
  text-align: center;
}

@font-face {
  font-family: "HelveticaBl";
  font-style: normal;
  font-weight: 900;
  src: local("Helvetica Neue"), local("Helvetica Neue"),
    url("/src/fonts/HelveticaNeueCyr-Black.woff") format("woff"),
    url("/src/fonts/HelveticaNeueCyr-Black.woff2") format("woff2");
}

@font-face {
  font-family: "HelveticaBd";
  font-style: normal;
  font-weight: 700;
  src: local("Helvetica Neue"), local("Helvetica Neue"),
    url("/src/fonts/HelveticaNeueCyr-Bold.woff") format("woff"),
    url("/src/fonts/HelveticaNeueCyr-Black.woff2") format("woff2");
}

@font-face {
  font-family: "HelveticaM";
  font-style: normal;
  font-weight: 500;
  src: local("Helvetica Neue"), local("Helvetica Neue"),
    url("/src/fonts/HelveticaNeueCyr-Medium.woff") format("woff"),
    url("/src/fonts/HelveticaNeueCyr-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "HelveticaR";
  font-style: normal;
  font-weight: 400;
  src: local("Helvetica Neue"), local("Helvetica Neue"),
    url("/src/fonts/HelveticaNeueCyr-Roman.woff") format("woff"),
    url("/src/fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
}

@font-face {
  font-family: "Mistral";
  font-style: normal;
  font-weight: 400;
  src: local("Mistral"), local("Mistral"),
    url("/src/fonts/Mistral.woff") format("woff"),
    url("/src/fonts/Mistral.woff2") format("woff2");
}

@font-face {
  font-family: "OswaldB";
  font-style: normal;
  font-weight: 700;
  src: local("Oswald"), local("Oswald"),
    url("/src/fonts/Oswald-Bold.woff") format("woff"),
    url("/src/fonts/Oswald-Bold.woff2") format("woff2");
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 290px;
  margin: 0 auto;
}

.header {
  background-image: url("../images/header-backgr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 450px;
  width: 320px;
  margin: 0 auto;
  /* position: relative; */
}

.container {
  width: 290px;
  margin: 0 auto;
}

.header__title_wrapper {
  display: flex;
  justify-content: center;
}

.navigation {
  padding-top: 16px;
}

.navigation__list-displaynone {
  display: none;
}

.header__main-title {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-family: "HelveticaR";
  text-align: center;
  padding-bottom: 40px;
  width: 180px;
  margin: 0 auto;
  padding-top: 76px;
}

.header__subtitle {
  font-size: 20px;
  line-height: 26px;
  font-family: "HelveticaBl";
  padding-bottom: 32px;
  width: 260px;
  margin: 0 auto;
}

.header__link-more {
  text-decoration: none;
  font-size: 18px;
  font-family: "HelveticaBd";
  color: #ffffff;
  text-align: center;
}

.header__link-more::after {
  display: block;
  width: 96px;
  height: 3px;
  background-color: #7ab4fb;
  content: "";
  margin: 0 auto;
}
/* 
&::after {
  content: ‘’;
  position: absolute;
  width: 710px;
  height: 335px;
  background: url(../images/kids.svg#kids);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
} */

.why-it__main-title {
  font-size: 20px;
  line-height: 26px;
  color: #2c2c2c;
  font-family: "HelveticaBd";
  margin-bottom: 16px;
  padding-top: 22px;
  width: 250px;
  text-align: center;
  margin: 0 auto;
}

.why-it__main-title-colortext {
  color: #eebf3e;
}

.why-it__background1 {
  background-image: url("../images/сonfetti.svg"),
    url("../images/section-1-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 240px;
}

.why-it__image-wrapper {
  position: relative;
  width: 290px;
  height: 250px;
  margin: 0 auto;
}

.why-it__image-first {
  position: absolute;
  z-index: 1;
  top: 44%;
  left: 24%;
}

.why-it__image-second {
  position: absolute;
  top: 20%;
  left: 36%;
}

.why-it__background2 {
  background-image: url("../images/section-2-backgr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 1250px;
}

.why-it__title-subtitle {
  font-size: 30px;
  color: #e8e8f2;
  font-family: "HelveticaBl";
  font-weight: 800;
  padding-bottom: 14px;
}

.why-it__title {
  font-size: 15px;
  color: black;
  font-family: "Oswald";
  font-weight: 700;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.why-it__title span {
  color: #eebf3e;
}

.why-it__partners-list {
  padding: 0;
  list-style: none;
  padding-top: 70px;
}

.why-it__partners-list-item {
  width: 190px;
  margin: 0 auto;
  margin-bottom: 36px;
}

.why-it__partners-list-image {
  margin: 0 auto;
}

.why-it__partners-list-name {
  font-size: 20px;
  color: #edc65a;
  font-family: "Mistral";
  padding-top: 16px;
}

.why-it__partners-list-description {
  font-size: 16px;
  line-height: 30px;
  color: #2c2c2c;
  font-family: "HelveticaR";
}

@media screen and (min-width: 710px) {
  .container {
    width: 710px;
  }
  .header {
    background-image: url("../images/header-backgr-tablet.jpg");
    min-height: 540px;
    width: 768px;
    margin: 0 auto;
  }

  .why-it__background2 {
    background-image: url("../images/section-2-backgr-tablet.jpg");
    min-height: 1284px;
  }

  .navigation__list-displaynone {
    display: block;
  }

  .navigation {
    justify-content: space-between;
    display: flex;
    padding: 28px 0;
  }
  .navigation__list {
    display: flex;
    width: 402px;
    justify-content: space-between;
  }
  .navigation__list a {
    text-decoration: none;
    font-size: 15px;
    line-height: 59px;
    color: #ffffff;
    font-family: "HelveticaM";
  }

  .navigation__list-item {
    list-style-type: none;
  }

  .header__main-title {
    width: 440px;
  }
  .header__subtitle {
    width: 470px;
    font-size: 35px;
    line-height: 42px;
    font-family: "HelveticaBd";
  }
  .header__svg-kids-wrapper {
    padding-top: 20px;
    /* margin: 0 auto; */
    padding-bottom: 50px;
  }
  .header__svg-kids {
    width: 700px;
    height: 400px;
  }

  .why-it__main-title {
    width: 426px;
    padding-top: 80px;
    font-size: 35px;
    line-height: 45px;
  }
  .why-it__background1 {
    min-height: 520px;
    width: 710px;
  }
  .why-it__image-first {
    width: 186px;
    height: 186px;
    top: 80%;
    left: 10%;
  }

  .why-it__image-second {
    width: 266px;
    height: 266px;
  }

  .why-it__title-subtitle {
    width: 500px;
    font-size: 60px;
    margin: 0 auto;
    padding-top: 50px;
  }

  .why-it__title {
    width: 330px;
    font-size: 20px;
    padding-top: 30px;
    margin: 0 auto;
  }
}
/* 
@media screen and (min-width: 1460px) {
  .container {
    width: 1420px;
  }

  .header {
    background-image: url("../images/header-backgr-desktop.jpg");
    min-height: 1230px;
    width: 1920px;
  
  }

  .navigation__list {
    width: 600px;
    
  }

  .why-it__background2 {
    background-image: url("../images/section-2-backgr-desktop.jpg");
    min-height: 770px;
  }
}  */
