html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Libre Caslon Display", serif;
    color: #626261;
    font-size: 14px;
    line-height: 24px;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 420px;
    margin-bottom: 30px;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.page-header a {
    display: inline-block;
    color: #626261;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: none;
    list-style-type: none;
}


.page-nav {
    padding: 77px 0;
}

.site-navigation {
    font-size: 0;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;


}

.site-navigation a {
    line-height: 24px;
    color: #626262;
    font-family: "Playfair Display";
    font-weight: 400;
    text-transform: uppercase;
}

.site-navigation li {
    display: inline-block;
    margin-right: 121px;
}

.site-navigation li:last-child {
    margin-right: 0;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #03a9f4;
}




.features-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.features-list-item {
    text-align: left;
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    margin-bottom: 130px;
    padding-right: 12px;

}

.features-list-name {
    margin: 0;
    margin-bottom: 32px;
    font-size: 14px;
    color: #b4ad9e;
    font-family: "Ubuntu";
    font-weight: 300;
    line-height: 17px;
    text-transform: uppercase;
}

.features-list-description {
    margin: 0;
    margin-bottom: 40px;
    font-size: 30px;
    color: #626262;
    font-weight: 400;
    line-height: 36px;
}

.features-list-text {
    display: inline-block;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
    font-family: "Playfair Display";
    font-weight: 400;

}

.features-list-item:nth-child(2n) {
    margin-right: 0;
}

.features-list-item:nth-last-child(-n + 2) {
    margin-bottom: 56px;
}

.features {
    padding-bottom: 70px;
}

.load-more {
    border: 1px solid;
    border-radius: 1px;
    margin: 0;
    padding: 20px 30px;
    font-size: 20px;
    background-color: white;
    line-height: 24px;
    font-weight: 400;
    color: #626262;
    cursor: pointer;
}

.load {
    text-align: center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}